/* .container{
    display: flex;
    flex-direction: row;
} */

.input[type=text]{
    width: 40%;
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-bottom: auto;
}

.icon{
    background-color: transparent;
    color: bisque;
    border: 0;
    display: inline-block;
    width: 70px;
    cursor: pointer;
    /* padding-top: 20px; */
}