.detail {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.detail img {
    width: 30%;
    height: 30%;
}

.detail > .description{
    margin-left: auto;
    margin-right: auto;
}