  @keyframes slide {
    0% {
      transform: translateX(-600%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .card {
    background-image: linear-gradient(red, yellow);
    border-radius: 10px;
  box-shadow: 0 2px 15px rgb(141, 201, 193);
  max-width: 300px;
  max-height: 500px;
  animation: 1s ease-out slide;
}
